<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% if title %}{{ title }}{% else %}{{ site.title }}{% endif %}</title>
        
        <meta name="description" content="{{ site.description }}" />

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="HandheldFriendly" content="True" />
        <meta name="MobileOptimized" content="320" />
        
        <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="prefetch" href="{{ site.url }}">
        <link rel="canonical" href="{{ page.url | url }}">

        <link rel="stylesheet" href="/assets/css/styles.css">
    </head>
<body>
    {{ content }}

    <footer>
        <div class="footer-menu">
            <ul class="menu">
                <li><a href="/about/">About</a></li>
                <li><a href="/archive/">Archives</a></li>
                <li><a href="/disclosure-statement/">Disclosure Statement</a></li>
                <li><a href="mailto:us@boldandadventurous.com">Contact</a></li>
            </ul>
        </div>           
        <div class="footer-copyright">
            <p class="copyright">All content &copy; 2009–{{ "now" | date: "%Y" }} MK3Y, LLC and cannot be used, reproduced or manipulated without express consent.</p>
        </div>
    </footer>

    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="/assets/js/instafeed.min.js"></script>
    <script src="/assets/js/instafeed-settings.js"></script>
    <script src="/assets/js/scripts.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-22162630-10', 'auto');
      ga('send', 'pageview');
    </script>
</body>
</html>
